<div class="container">
  <div class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item navbar" >La Trattoriaz</li>
      <li class="nav-item nav-link" routerLink="/primi" [state]="data.primi" routerLinkActive="active-menu">Primi ({{data.primi.length}})</li>
      <li class="nav-item nav-link" routerLink="/secondi" [state]="data.secondi" routerLinkActive="active-menu">Secondi ({{data.secondi.length}})</li>
      </ul>
  </div>
  <router-outlet></router-outlet>
  <footer class="bg-light text-center">La Trattoriaz</footer>
</div>